*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root{
  --twitter-blue: rgb(29, 155, 240);
}
.AppContainer{
  display: grid;
  grid-template-columns: 2fr 4fr 3fr;
  padding: 0% 10% 0% 10%;
  background-color: rgb(44, 44, 44);
  min-height: 100vh;
}
.Navbar{
  width: 80%;
  margin: auto;
}
.Navbar a{
  color: white;
}
.logoutContainer{
  color: white;
  display: flex;
  flex-direction: row;
}
.logoutDisplay{
  display: flex;
  flex-direction: row;
}
.logoutDisplay i{
  margin-left: .5rem;
  padding-top: 1.2rem;
}
.postFormBackground{
  position: absolute;
  top:0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 39, 39, 0.226);
}
.logout{
  position: absolute;
}
.loginWrapper{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  min-width: 600px;
  min-height: 400px;
  height: 650px;
  background-color: rgb(71, 71, 71);
  color: white;
  border-radius: 5%;
}
.loginContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.loginForm input{
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(43, 43, 43);
  color: white;
  font-size: 1.2rem;
}
.loginForm input::placeholder{
  font-size: 1.2rem;
  color: rgb(151, 151, 151);
}
.loginForm button{
  width: 100%;
  color: white;
  background-color: rgb(43, 43, 43);
  padding: 20px;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  border: 2px solid black;
}
.loginForm, h1, input, div{
  margin-bottom: 30px;
}
.loginContainer h1{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}
/* 
POST CREATE FORM
POST CREATE FORM
POST CREATE FORM
POST CREATE FORM
POST CREATE FORM
POST CREATE FORM
POST CREATE FORM
POST CREATE FORM
POST CREATE FORM
POST CREATE FORM
*/
.postFormContainer{
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 600px;
  max-width: 80vw;
  height: auto;
  max-height: 80vh;
  padding: 1em;
  background-color: rgb(71, 71, 71);
  transform: translate(-50%, -50%);  
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}
.postFormContainer span{
  width: 30px;
  flex: 0 0 30px;
  text-align: left;
  padding-left: 1em;
}
.postForm{
  display: flex;
  flex-direction: column;
}
.postForm button{
  max-width: 15%;
  padding: .7em 1.5em .7em 1.5em;
  border-radius: 20px;
  border: none;
  margin-left: auto;
  background-color: var(--twitter-blue);
  color: white;
  font-weight: 700;
  font-size: 1em;
}
.disabledButton{
  background-color: rgb(40, 96, 133) !important;
}
.bottomBorder{
  border-bottom: 1px solid white;
  margin-bottom: 1em;
}
.postForm textarea{
  width: 100%;
  min-height: 100px;
  background-color: rgb(71, 71, 71);
  border: none;
  color: white;
  padding: 1em;
  font-size: 1.2em;
}
.postForm textarea::placeholder{
  color: white;
}
/*
FOLLOWER/FOLLOWING LIST
FOLLOWER/FOLLOWING LIST
FOLLOWER/FOLLOWING LIST
FOLLOWER/FOLLOWING LIST
FOLLOWER/FOLLOWING LIST
FOLLOWER/FOLLOWING LIST
FOLLOWER/FOLLOWING LIST
FOLLOWER/FOLLOWING LIST
FOLLOWER/FOLLOWING LIST
FOLLOWER/FOLLOWING LIST
FOLLOWER/FOLLOWING LIST
FOLLOWER/FOLLOWING LIST
*/
.userFollow{
  display: flex;
  justify-content: space-between;
}
.userFollow{
  margin-bottom: 10px;
}
.followListContainer{
  max-width: 600px;
  background-color: gray;
  color: white;
  padding: 1.2rem;
}
.followTabs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 1.2rem;
}


/* 
POST CARD + CONTAINER
POST CARD + CONTAINER
POST CARD + CONTAINER
POST CARD + CONTAINER
POST CARD + CONTAINER
POST CARD + CONTAINER
POST CARD + CONTAINER
POST CARD + CONTAINER
POST CARD + CONTAINER
*/
.postContainer{
  background-color: rgb(71, 71, 71);
  color: white;
  padding: 10px;
  border: 1px solid gray;
}
.postBottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
}
.postButton{
  min-width: 80%;
  padding: .7em 1em .7em 1em;
  background-color: rgb(40, 96, 133);
  color: white;
  border-radius: 50px;
  border: none;
  margin-left: auto;
  background-color: var(--twitter-blue);
  color: white;
  font-weight: 700;
  font-size: 1.2em;
}
.postTop{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.postTop h1{
  font-size: 1.2rem;
}
.likedPost {
  color: red;
}
/* 
REPLIES/LIKES/POSTS - USER
REPLIES/LIKES/POSTS - USER
REPLIES/LIKES/POSTS - USER
REPLIES/LIKES/POSTS - USER
REPLIES/LIKES/POSTS - USER
REPLIES/LIKES/POSTS - USER
REPLIES/LIKES/POSTS - USER
REPLIES/LIKES/POSTS - USER
REPLIES/LIKES/POSTS - USER
REPLIES/LIKES/POSTS - USER
*/
.userListContainer{
  max-width: 600px;
  background-color: gray;
  color: white;
  padding: 1.2rem;
}
.userTabs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 1.2rem;
}